#landimg {
  transition: all 0.06s;
  height: 125%;
  width: auto;
  max-width: 290%;
  min-width: 140%;
  top: -25%;
  position: absolute;
  left: -55%;
  z-index: 0;
}
.fullimg{
  height: 100%;
  min-height: 45%;
}
.right_side{
  display: none;
}
.dm_v2{
  padding: 0;
  display: none;
}
.dm_v2 a{
  transition: all .4s;
  text-decoration: none;
  color: rgba(255, 255, 255, .5);
}
.dm_v2 a:hover{
  text-decoration: none;
  color: rgba(220, 220, 220, 1);
}
.dm_v2{
  transition: all .6s;
  position: fixed;
  transition: all 1s;
  top: 2px;
  left: 0;
  width: auto;
  z-index: 14;
  background: none;
  padding: 2px 4px;
  background: rgba(0, 0, 0, .3);
  border-radius: 5%;
  padding-right: 0px;
}
.dm_v2:hover{
  background: rgba(0, 0, 0, .7);
  border-radius: 2%;
}
.dm_v2 ul{
  list-style: none;
}
.dm_v2 ul li{
  display: inline;
  color: rgba(255, 255, 255 .7);
  font-size: 13px;
  text-align: center;
  padding: 2px;
}
.dm_v2 .material-icons{
  color: rgba(255, 255, 255 .7);
  font-size: 34px;
}
@media only screen and (max-width: 780px) {
  #landimg {
    height: 125%;
    width: auto;
    max-width: 590%;
    min-width: 540%;
    top: -25%;
    position: absolute;
    left: -195%;
    z-index: 0;
  }
}
