
/* colors */

:root {
  --text-color: #f3f1f4; /* e1dde3 d0cad4 */
  --body-color: #838ba4; /* 838ba4 */
  --font-size: calc(22px + .7vh + 1.0vw);
}

html {
  color: var(--text-color);
  background-color: var(--body-color);
  font-size: var(--font-size);
}
